export(initialiseProject)
export(assignReactions)
export(generateAssignments)
export(generateAnswers)
importFrom(dplyr, bind_cols, mutate, left_join, group_by, ungroup, select, relocate, n)
importFrom(purrr, map, pmap, pwalk, walk, map2)
importFrom(tibble, tibble)
importFrom(tidyr, nest)
importFrom(readr, parse_number)
importFrom(ggplot2, ggplot, aes, geom_point, geom_smooth, geom_line, labs, theme_minimal, theme, after_stat)
importFrom(ggpmisc, stat_poly_eq)
importFrom(gridExtra, tableGrob, grid.arrange)
importFrom(readxl, read_excel)
importFrom(writexl, write_xlsx)
